@font-face {
  font-family: 'Qwigley';
  font-style: normal;
  font-weight: 400;
  src: local('Qwigley'), local('Qwigley-Regular'), url(http://fonts.gstatic.com/s/qwigley/v6/7kYx3NMo0QlNvVUFn_G-mg.woff) format('woff');
}
