/*登陆界面的按钮组*/
.login-container{
	margin: 0 auto;
	margin-top: 60px;
	text-align: center;
	width: 300px;
}
.input-group{
	margin-top: 30px;
}
.btn-default{
	margin-top: 30px;
}




.linkscontainer{
	text-align: center;
}
.title{
	text-decoration: none;
	color: #428bca;
}